.ant-spin {
    margin-right: 16px;
}

.ant-layout-header {
    padding: 0 25px 0 0;
}

.logo {
    height: 64px;
    position: relative;
    padding-left: 12px;
    display: inline-block;
    width: 220px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    white-space: nowrap;
}

.logo img {
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
}

.logo h1 {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto Slab', sans-serif;
    margin-left: 10px;
    line-height: 17px;
    letter-spacing: 1px;
    color: #f8f8f8;
    font-size: 14px;
    width: 90px;
}